.App {
  text-align: center;
  padding: 20px;
}

.expense-form {
  margin-bottom: 20px;
}

.expense-filter {
  margin-bottom: 20px;
}

.expense-chart {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #40005d;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #7b007b;
}
